.menu {
  width: 20%;
  height: 55px;
  font-size: 20px;
  border: 1px solid #000000;
  background-color: #DDDDDD;
}

#logo {
  background-color: #FF0000;
  text-align: center;
}

body {
  margin: 0;
}

.announcements {
  border: 1px solid #000000;
  width: 50%;
}
