.menu {
  width: 20%;
  height: 55px;
  font-size: 20px;
  background-color: #9bbc0f;
  outline: none;
}

table, #logo {
  text-align: center;
}

#logo {
  background-color: #8bac0f;
}

body {
  margin: 0;
  background-color: #9bbc0f;
}

.announcements, .gamebtn, body, #logo, .menu {
  color: #0f380f;
}

.announcements {
  width: 50%;
}

.gameBtn, .announcements, .menu {
  border: 1px solid #0f380f;
}

.gameBtn {
  width: 12.5%;
  font-size: 20px;
  background-color: #9bbc0f;
}

body a {
  font-size: 17.5px;
  font-weight: bold;
}
