.menu {
  width: 19.9%;
  height: 55px;
  font-size: 20px;
  border: 1px solid #000;
  background-color: #DDD;
  outline: none;
}

#logo {
  background-color: #FF0000;
  text-align: center;
}

body {
  margin: 0;
}

.announcements {
  border: 1px solid #000;
  width: 50%;
}

.gameBtn {
  width: 12.5%;
  font-size: 20px;
  border: 1px solid #000;
  background-color: #DDD;
}

body a {
  font-size: 17.5px;
  font-weight: bold;
}
